Makefile
**/*.acn
**/*.acr
**/*.alg
**/*.app
**/*.aux
**/*.bbl
**/*.bcf
**/*.blg
**/*.glg
**/*.glo
**/*.gls
**/*.ist
**/*.lof
**/*.log
**/*.lot
**/*.out
**/*.pdf
**/*.run.xml
**/*.slg
**/*.slo
**/*.sls
**/*.swp
**/*.toc
